* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  background-image: url(http://www.videocopilot.net/blogstuff/surface_sm.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 320px) {
  header {
    height: 175px;
  }
}

.container {
  width: 965px;
  margin: auto;
}

 @media screen and (max-width: 320px){
    .container {
    width: 275px;
  }
 }

.opener {
  text-align: center;
}

#headline {
  font-family: PT Sans;
  text-transform: uppercase;
  font-size: 100px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  #headline {
  font-size: 33px;
  }
}
.opener p {
  font-family: Asap;
  font-size: 16px;
  color: #06344f;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .opener p {
  font-size: 15px;
  }
}

.blog {
  padding-top: 25px;
}

.blog a {
  font-family: PT Sans;
  font-size: 14px;
  color: #06344f;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
}

@media screen and (max-width: 320px){
  .blog a {
  display: none;
  }
}

#home {
  margin-right: 20px;
}

.right a {
  font-family: Oswald;
  font-size: 15px;
  text-transform: uppercase;
  color: #06344f;
  text-decoration: none;
}

.right {
  float: right;
}

@media screen and (max-width: 320px){
  .right {
  float: none;
  text-align: center;
  }
}

article .content {
  width: 500px;
  float: left;
}

article .content h1 {
  font-family: Oswald;
  text-transform: Uppercase;
  color: #06344F;
  font-size: 50px;
  line-height: 60px;
}

@media screen and (max-width: 320px){
    article .content {
    width: 300px;
    padding: 5px;
    }
}

article .content h2 {
  font-family: Asap;
  color: lightgray;
  font-size: 12px;
}

@media screen and (max-width: 320px){
    article .content img {
    display: none;
    }
    article .content a {
    display: none;
    }
}

article .content h3 {
  font-family: Asap;
  font-size: 30px;
  color: #126faf;
  text-transform: uppercase;
  border-left: solid lightgray 3px;
  padding-left: 20px
}

article .content p {
  font-family: Asap;
  color: #5e686f;
  font-size: 14px;
  padding-right: 5px;
  line-height: 20px;

}

article .content a {
  font-family: Asap;
  color: #126faf;
  font-size: 12px;
  text-decoration: none;
  padding-right: 4px;
  padding-left: 12px;
}

article .content img {
  height: 40px;
  padding-right: 5px;
  margin: -5px;
}

#dolphin {
  border-radius: 100%;
  padding: 0;
}

#articlelinks {
  background: blue;
}

article .media li {
  display: inline;
  list-style: none;
  clear: both;
  font-family: Asap;
  color: lightgray;
}

@media screen and (max-width: 320px){
    article .content h2 .extratext {
    display: none;
    float: none;
    }
    article .content h2 {
    text-decoration: underline;
    margin-top: -25px;
    font-size: 14px;
    }
}

section.media {
  clear: both;
}

aside {
  float: right;
  max-width: 275px;
}

@media screen and (max-width: 320px){
  aside .additional {
  display: none;
  float: none;
  }
}

.annie {
  text-align: center;
  margin-bottom: 50px;
}

.annie ul {
  padding: 0;
}

.annie h1 {
  font-family: Asap;
  color: #126faf;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.annie li {
  font-family: Asap;
  color: lightgray;
  font-size: 16px;
  list-style: none;
  border-left: solid lightgray 2px;
  display: inline;
  padding: 5px;
}

.annie li:first-child {
  border: none;
}

.annie img {
  height: 70px;
  margin-top: 50px;
}

.ocean a {
  font-family: Asap;
  color: #a3b3bf;
  font-size: 16px;
  float: right;
}

.additional {
  max-width: 300px;
}

.additional h1 {
  font-family: Oswald;
  color: #126faf;
  font-size: 16px;
  text-transform: uppercase;
  padding: 40px 0px 0px 0px;
}

.additional p {
  font-family: Asap;
  color: #a3b3bf;
  font-size: 14px;
  max-width: 300px;
  line-height: 20px;
}

.links {
  clear: both;
}

.links h1{
  font-family: Oswald;
  text-transform: Uppercase;
  color: #06344F;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0px;
}

section .centered {
  display: inline-block;
  height: 300px;
  width: 25%;
  margin: 0;
  float: left;
  background-size: cover;
  background-image: url(http://awsassets.panda.org/img/hectors_dolphin_sdawson26578_352388.jpg);
  color: black;
  font-family: Oswald;
  font-size: 35px;
}

footer {
  background-color: #06344f;
  background-size: cover;
  height: 80px;
  clear: both;
  margin: auto;
}

footer .ironyard {
  font-size: 11px;
  font-family: Asap;
  color: #a3b1b9;
  float: left;
  width: 400px;
}

footer img {
  float: left;
  margin-top: 10px;
}

footer p {
  margin-top: 35px
}

footer li {
  list-style: none;
  font-family: Asap;
  font-size: 11px;
  color: #a3b1b9;
  float: right;
  border-right: solid 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 35px;
}

footer li:first-child {
  margin-right: none;
  border-right: none;
  padding: none;
}

@media screen and (max-width: 320px){
  footer {
  height: 200px; 
  text-align: center;
  position: relative;
  padding: 15px;
  }
  footer li{
  float: none;
  display: inline;
  margin-top: 20px;
  border-left: solid 2px;
  border-right: none;
  }
  footer li:first-child {
  border: none;
  }
  footer li:last-child {
  border: none;
  }
  footer img {
  float: none;
  }
  footer p {
  margin: 0px;
  }
  .ironyard {
  max-width: 150px;
  position: absolute;
  margin-top: 40px;
  }
}
